mixin logo
	a.logo(
		href= attributes.noLink === true ? null : global.link_home
		class= attributes.class
	)
		img.logo__img(
			src= attributes.img || 'img/logo.svg'
			alt='Logo'
			title= attributes.noTitle ? null : 'На главную'
		)