include social

mixin quote(data)
	.quote

		.quote__top
			+social(social)

		.quote__main
			.dots-sm
			.quote__content
				.quote__img.main__space-bot(
					style='background-image: url(' + data.img + ');'
					role='img'
					aria-label= data.author
					title= data.author
				)
				.title.title_xs.title_color_white.main__space-bot.quote__title= data.title

				if (data.link)
					a.link.quote__author(
						href= data.link
						target='_blank'
						rel='nofollow'
					)= data.author
				else
					.quote__author= data.author

				.quote__desc= data.desc