mixin review(data)
	.review(class= attributes.class)

		.review__dots-wrap

		.container.review__wrap

			each val in data
				.review__item
					.review__i

						.review__left

							.review__img-wrap
								.review__img(
									style='background-image: url(' + (val.img || 'img/content/no-photo.png') + ');'
									role='img'
									aria-label= val.img ? val.name : 'Нет фото'
									title= val.img ? val.name : 'Нет фото'
								)

							if val.link
								a.link.review__link(
									href= val.link
									target='_blank'
									rel='nofollow'
								)= val.link_text

						.review__right
							.title.review__title= val.name
							.review__text!= val.text