mixin radio(data)
	.radio(class= attributes.class)

		each val, i in data.items
			.radio__item
				input.radio__input(
					type='radio'
					name= data.name
					id= data.name + '-' + (i + 1)
					value= val.text
					data-score= val.score !== undefined ? val.score : null
					data-result-link= val.result_link !== undefined ? val.result_link : null
				)
				label.radio__label(for= data.name + '-' + (i + 1))= val.text