include ../components/rate
include ../components/scale
include ../components/review
include ../mixins/question
include ../mixins/num
include ../mixins/progressbar
include ../mixins/bg-img

.quiz

	.quiz__section-start
		.section.section_up.section_full.section_valign_center.section_fog_dark.section_space_2x(style='background-image: url(img/content/section/08.jpg); background-position: 70% 10%')
			.container
				h1.title.title_xl.text-center.main__space-bot
					span.mark.mark_color_main= 'Тест на привлекательность:'

				.text-center
					h2.title.bracket.bracket_wide.bracket_tall.bracket_color_main.main__space-bot
						span.mark.bracket__text Насколько ты нравишься красивым девушкам

				.arrow.main__space-bot

				.info.info_fill-bold
					.title.title_sm.title_color_white Ответь всего на 16 вопросов и узнай почему девушки ВЫНУЖДЕНЫ тебе отказывать, где у тебя слабые стороны в общении и в чем кроется настоящая причина твоих неудач (возможно, о которой ты даже и не догадываешься).
			.section__next

		.section.section_space_2x
			.container
				.text-center
					h2.title.title_tight.title_lg.main__space-bot-2x За 3 минуты этот простой тест расскажет о тебе больше, чем любой эксперт соблазнения!

				.info.main__space-bot-2x
					.text-center
						.title.title_xs.main__space-half Этот тест выходит за рамки общепринятого понимания мужской привлекательности, он нарушает все привычные теории экспертов пикапа и соблазнения, поэтому он обладает такой высокой точностью и способен выявлять самые скрытые проблемы.

				.text-center.main__space-bot-2x
					a.btn.btn_wide.quiz__start-btn(href='#') Начать тест

				.main__space-bot-2x
					+rate(rate_2)

				.text-center
					.title.title_color_main.main__space-bot-half Внимание!

					.info.info_fill.main__space-bot-2x
						.title.title_xs.title_lower.main__space-top-half Чем честнее ты будешь отвечать на вопросы теста, тем точнее будет твой результат.
						.title.title_xs.title_lower.main__space-bot-half Полная анонимность твоих результатов гарантируется!

					.title.title_xs.title_lower.main__space-bot-half= 'Разработчик теста: '
						a(href='about.html' target='_blank')= global.author

	.quiz__section-test
		.section.section_up.section_full.section_fog_light.section_space_2x(style='background-image: url(img/content/section/02.jpg);')
			.container
				.title.title_lower.title_tight.main__space-bot-2x Вопросы: Выбери один наиболее подходящий ответ:

				.main__space-bot-2x
					+num(2, 1)(class='quiz__num')

				each val, i in question
					+question(val)(
						class='quiz__question'
						class= i ? 'quiz__question_hidden' : ''
					)

	.quiz__section-wait
		.section.section_up.section_full.section_fog_light.section_valign_center(style='background-image: url(img/content/section/02.jpg);')
			.container.text-center
				.row.justify-content-center
					.col-md-11.col-lg-10.col-xl-9
						+progressbar({
							max: 50,
							label: 'Загрузка результатов'
						})(class='quiz__progressbar')
						.quiz__end-trigger-wrap.main__space-top-2x-inner.main__space-bot-inner
							button.btn.quiz__end-trigger Перейти к результатам теста:

	.quiz__section-end
		.section.section_up.section_full.section_valign_center.section_fog_darker.section_space_2x(style='background-image: url(img/content/section/09.jpg);')
			.container
				.row

					.col-sm-2.col-lg-1.offset-xl-1.main__space-bot-2x
						+scale({
							text: 'Ты тут',
							percent: 40
						})(class='quiz__scale')

					.col-sm-8.offset-sm-2.offset-lg-3.col-xl-7.offset-xl-2.text-center.main__space-bot-2x

						.title.title_color_white.main__space-bot-half Уровень твоей привлекательности

						.main__space-bot
							+bg-img({
								img: 'img/content/quiz/results/0-39.jpg'
							})(class='bg-img_pos_bottom quiz__result quiz__result_1')
							+bg-img({
								img: 'img/content/quiz/results/40-59.jpg'
							})(class='bg-img_pos_bottom quiz__result quiz__result_2')
							+bg-img({
								img: 'img/content/quiz/results/60-89.jpg'
							})(class='bg-img_pos_bottom quiz__result quiz__result_3')
							+bg-img({
								img: 'img/content/quiz/results/90-100.jpg'
							})(class='bg-img_pos_bottom quiz__result quiz__result_4')

						.info.info_fill-bold
							.title.title_sm.title_color_white.text-center
								span.quiz__result.quiz__result_1 Ты не нравишься девушкам. Сейчас ты им не интересен!
								span.quiz__result.quiz__result_2 Ты не очень привлекателен для девушек. Большинство твоих знакомых девушек не видят в тебе потенциального парня!
								span.quiz__result.quiz__result_3 Ты нравишься девушкам, но далеко не всем!
								span.quiz__result.quiz__result_4 Если ты правдиво отвечал на все вопросы, то у тебя все хорошо с девушками, ты провел невероятную работу над собой, за что мое искреннее уважение тебе.

			.section__next.section__next_center

		.section.section_space_2x.quiz__has-problems-visible
			.container

				.quiz__result.quiz__result_4
					p= 'Но у тебя все еще есть одна проблема, с которой ты периодически сталкиваешься. Из-за этой проблемы ты по-прежнему '
						span.main__strong не можешь вести себя до конца свободно с девушками
						|
						| (хотя ты стараешься не замечать этого), именно из-за этой проблемы ты все еще иногда чувствуешь себя недостойным красивых девушек и именно из-за этой проблемы ты получаешь отказы от тех девушек, которые тебе очень нравятся.
					p
						span.main__strong У тебя есть внутренний конфликт
						| , который ты никак не можешь решить (но ты научился хорошо маскировать его симптомы)- он связан с тем, что ты никак не можешь понять, почему на уровне логики ты прекрасно знаешь как себя вести, но внутренне ты периодически не можешь позволить себе такое сильное поведение, которому ты научился. В чем же тут проблема?
					p= 'А проблема в том, что из-за прошлого опыта ты считаешь себя настоящего не очень привлекательным, ты считаешь, что такой какой ты есть ты не нравишься девушкам и поэтому, по средствам техник соблазнения и принципов поведения, '
						span.main__strong ты старался сформировать свою новую привлекательную личность.
					p Хоть ты и научился сильному и привлекательному поведению с девушками, внутри ты остался прежним, непривлекательным для себя, парнем. По этой причине тебе приходиться разгоняться перед знакомствами, правильно настраиваться перед подходами, чтобы твое внутреннее состояние соответствовало твоему поведению.
					p
						span.main__strong Но все это дает тебе лишь временный эффект
						| , потому что твоя основная проблема никак не решается, а только маскируется, благодаря чему ты и чувствуешь временное облегчение.

					p И если ты не решишь эту внутреннюю проблему, вот что тебя ждёт:

					.main__space-top-2x
						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Первое
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Ты все равно будешь зависеть от мнения окружающих людей, потому что внутреннего одобрения своих поступков у тебя не будет.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Второе
						.info.info_padding_lg.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Ты будешь иногда ограничивать себя, потому что маскируя себя настоящего под маской крутости, ты будешь вынужден вести себя идеально перед окружающими людьми и бояться сделать ошибку, иначе все увидят тебя настоящим и поймут, что ты не такой крутой, как ты из себя строил. И из-за этого тебе будет трудно знакомиться с красивыми девушками в людных местах, ведь там ты можешь получить отказ на глазах у всех.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Третье
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center А даже если ты и познакомишься с какой-нибудь классной девушкой, то эти отношения долго не продляться, потому что ты будешь ревновать (хоть и будешь стараться не показывать это) и будешь пытаться контролировать девушек. Ты не сможешь построить гармоничных отношений потому что страх того, что девушка может найти себе лучше парня, будет заставлять тебя манипулировать ей. И по этой причине девушки будут терять к тебе интерес.

					p
						span.main__strong И это только маленький перечень поверхностных проблем, с которыми ты будешь сталкиваться до тех пор, пока не решишь основную проблему.
						|
						| Неужели ты до сих пор веришь, что поверхностные упражнения и манипулятивные тактики поведения с девушками решат все твои внутренние проблемы?
					.title.title_lower.title_xs.title_color_main.main__space-top-2x.text-center Я выбрал другой путь!
					p И именно поэтому я могу нарушать любые правила соблазнения и при этом буду оставаться намного привлекательнее этих пикап-мастеров, которые заучивают одинаковые тактики «естественного» поведения, пытаясь замаскировать такого же неуверенного маленькими мальчика, которым он всегда был. Вот почему все пикап проекты, как бы они не назывались, похожи друг на друга как 2 капли воды.
					.info.info_padding_lg.main__space-2x
						p.title.title_lower.title_xs.text-center Тебе больше не нужно следовать техникам и принципам соблазнения, потому что ты, в отличии от других, будешь привлекателен как личность. Именно поэтому существуют эти парни, которые никогда не изучали пикап и соблазнения, однако они нравятся самым красивым девушкам больше чем все эти пикап мастера.
					.main__space-2x
						p.title.title_lower.title_xs.text-center.main__space-bot-half Пришло время принять важное решение либо ты и дальше будешь пытаться маскировать свою глубинную проблему, либо начнешь ее решать и тогда все поверхностные проявление этой проблемы исчезнут раз и навсегда.
						p.title.title_lower.title_xs.text-center Выбор за тобой.

				.quiz__result.quiz__result_1.quiz__result_2.quiz__result_3
					.title.title_sm.main__space-bot-2x.text-center
						span.quiz__result(data-result-target='15-1') Уже более 5 лет ты изучаешь тему мужской привлекательности, но посмотри какие проблемы у тебя до сих пор остались нерешенными:
						span.quiz__result(data-result-target='15-2') Уже более 2-х лет ты изучаешь тему мужской привлекательности, но посмотри какие проблемы у тебя до сих пор остались нерешенными:
						span.quiz__result(data-result-target='15-3') Уже больше года ты изучаешь тему мужской привлекательности, но посмотри какие проблемы у тебя до сих пор остались нерешенными:
						span.quiz__result(data-result-target='15-4') Меньше года ты изучаешь тему мужской привлекательности, но за это время ты так и не смог решить эти проблемы:
						span.quiz__result(data-result-target='15-5') Ты решил не тратить время на изучение мужской привлекательности и вот к каким проблемам это привело:
						span.quiz__result(data-result-target='15-6') Ты решил не тратить время на изучение мужской привлекательности потому что считал, что у тебя и так все в порядке, но вот проблемы, которые ты старался не замечать:

					.quiz__result(data-result-target='1-1')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Для тебя девушки по-прежнему остались мерилом крутости. Ты думаешь, что без девушки ты хуже, чем с девушкой. Из-за этого ты слишком переоцениваешь значимость их в своей жизни и поэтому тебе очень сложно подойти и познакомиться. И чем красивее девушка, тем сложнее тебе представить, что ты сможешь познакомиться с ней.
						p Отсюда у тебя вытекает еще одна проблема - ты не интересен тем девушкам, которые нравятся тебе, и наоборот, те девушки, которые тебе не нравятся - интересуются тобой.
						p И те техники, и принципы, которым ты стараешься следовать, тебе не особо помогают и дают лишь временный эффект, потому что твоя проблема глубже, чем ты думаешь.
					.quiz__result(data-result-target='1-2')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты живешь в реальности, где все девушки не ценят хороших парней, они все ведутся только на бабки, они шкуры и в них не осталось ничего хорошего. И ты частенько рассказываешь об этом своим друзьям, чтобы утешить себя.
						p Хотя на самом деле, у тебя просто есть обида на девушек, потому что у тебя с ними не получается построить отношения.
						p Хотя если копнуть еще глубже, то ты обижаешься не на девушек, а на себя, потому что, не смотря на все твои старания, ты все равно не нравишься девушкам.
						p И те попытки, которые ты предпринимал для решения этой проблемы не сделали тебя привлекательным, а знаешь почему?
						p Потому что твоя проблема находится не там, где ты привык ее искать.

					.quiz__result(data-result-target='2-2')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты получаешь частые отказы от девушек и становишься для них просто другом, потому что твое поведение с ними СЛАБОЕ. Ты не так сильно боишься быть отвергнутым девушкой, как получить от нее отказ на глазах у других людей. Поэтому часто тебе приходится скрывать свою заинтересованность до подходящего момента
							i= ' (когда вас никто не видит и не слышит)'
							| .
						p Но проблема в том, что чем больше ты тянешь с признанием, тем сложнее тебе сказать девушке, что она тебе нравится и из-за этого она начинает относиться к тебе как к другу. Скорее всего ты думаешь, что твоя проблема в том, что ты зависишь от мнения окружающих людей, но главный вопрос почему?
						p И давай я накину тебе пару вариантов на размышление:
						p 1) Почему ты до сих пор относишься к знакомствам как к чему-то плохому?
							i= ' (ты же стесняешься это делать перед другими)'
							br
							| 2) Почему у тебя до сих пор нет внутреннего одобрения своих действий?
							i= ' (и если ты не знаешь, как развить внутреннее одобрение, у меня есть очень классное упражнение для тебя, смотри ниже)'
							| .
					.quiz__result(data-result-target='2-3')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты ведешь себя с девушками ОЧЕНЬ СЛАБО и НЕ ПРИВЛЕКАТЕЛЬНО!
						p Твоя проблема в том, что ты очень боишься получить от девушки отказ и из-за этого, сам того не понимая, при общении с девушкой ты занимаешь женскую позицию, перекладывая всю ответственность за ваше знакомство на нее. Потому что именно от ее реакции и будет зависеть признаешься ты этой девушке в заинтересованности или нет
							i= ' (если она позитивно на тебя отреагирует - ты признаешься, если она отреагирует негативно - ты ничего не скажешь)'
							| .
						p В общении с девушками ты зажат, боишься сказать что-то не так
							i= ' (чувствуешь себя как на минном поле) '
							| и тебе сложно создавать с девушкой сексуальное влечение. Из-за этого ты не нравишься девушкам как парень, максимум на что ты можешь рассчитывать - это на друга, которого девушки не редко будут использовать ради денег либо другой помощи.
						p И тебе нужно решать проблему не с «френдзоной», а найти причину, почему ты так боишься услышать от девушки отказ. И если ты сейчас думаешь, что ты боишься услышать отказ от девушки потому что твоя самооценка привязана к одобрению девушек
							i= ' (как думает большинство парней)'
							| , то ты сильно ошибаешься!
						p Поэтому ты и не сможешь решить эту проблему.
					.quiz__result(data-result-target='2-4')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты настолько боишься быть отвергнутым девушками, что ведешь себя с ними КРАЙНЕ СЛАБО И УСЛУЖЛИВО!
						p У тебя очень низкая самооценка и мало того, что ты занимаешь в общении с девушкой женскую позицию и полностью перекладываешь ответственность за ваше знакомство на нее, так ты еще и пытаешься манипулировать девушками.
						p Из-за того, что внутренне ты считаешь себя непривлекательным, тебе приходится впечатлять девушек походами в ресторан и подарками. Но девушки не отвечают тебе взаимностью, они видят, что за счет этих подарков, ты хочешь получить от них секс и хорошее отношение, и поэтому ты в основном сталкиваешься с «динамо», где девушки используют тебя только ради денег. И конечно же ты чувствуешь обиду, потому что потратил деньги и время зря.
						p К сожалению, девушки не уважают тебя, ты для них всего лишь отличный спонсор. И именно такое поведение и делает из девушек меркантильных и манипулятивных сучек, потому что они начинают привыкать, что парни пытаются их купить.
						p Ты уже много раз пытался решить эту проблему, но все твои попытки заканчивались провалом, поэтому ты уже свыкся с мыслью, что твоя проблема не излечима, но я могу рассказать тебе кое-что о том, как на самом деле нужно решать твою проблему, потому что ты точно не безнадежный случай, смотри ниже!

					.quiz__result(data-result-target='3-1')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты сталкиваешься с частыми отказами, потому что девушки вынуждены говорить тебе нет!
						p Дело в том, что ты считаешь себя непривлекательным для девушек, поэтому ты стараешься показать девушкам свою крутость и вести себя с ними идеально
							i= ' (Чтобы девушки поняли какой ты на самом деле классный)'
							| . Но со стороны такое поведение выглядит нуждающимся, как будто отношения с девушкой нужно больше тебе чем ей.
						p Ты готов жертвовать своими принципами ради девушек, прощать им многое и терпеть неуважение со стороны девушек. У тебя есть глубокий страх остаться одному. Для девушек ты выглядишь как маленький мальчик, который бегает с протянутой рукой и просит у всех одобрения. Это поведение очень отталкивает не только девушек, но и окружающих людей.
						p Может быть уже хватит себя так вести?
					.quiz__result(data-result-target='3-2')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Тебе очень трудно знакомиться и строить отношения с девушками!
						p Ты считаешь себя крайне непривлекательным парнем из-за чего девушки и окружающие люди несут для тебя потенциальную угрозу, в каждом новом человеке ты ищешь подвох, тебе сложно доверять. Ты считаешь, что все люди только и пытаются тебя как-то унизить и поиздеваться над тобой. Ты делаешь попытки пообщаться с девушками, но из-за твоего поведения девушки не отвечают тебе взаимностью. Ты думаешь, что одному тебе лучше, хотя на самом деле из-за этого ты страдаешь.
						p Если так и будет продолжаться, то ты не только не найдешь девушку, но и оттолкнешь от себя всех друзей и знакомых и в итоге останешься один. А твоя маска «мне и одному хорошо» принесет тебе одни разочарования.

					.quiz__result(data-result-target='4-1')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты думаешь, что если ты будешь знать что и как говорить девушке ты сможешь легко знакомиться. Но на самом деле нет!
						p Даже если ты будешь досконально знать, что говорить девушкам ты все равно не будешь подходить к ним, потому что на самом деле ты хочешь контролировать исход знакомства, контролировать реакцию девушек. Это связано с тем, что ты просто боишься получить отказ от девушек. И ты хочешь найти идеальную последовательность фраз и техник, чтобы девушки всегда позитивно на тебя реагировали.
						p Но проблема в том, что ты никогда не сможешь контролировать девушек с помощью манипулятивных техник и необычных подходов, и ты это понимаешь.
					.quiz__result(data-result-target='4-2')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты считаешь, что ты как парень имеешь низкую ценность для девушек, поэтому тебе нужно повысить эту ценность с помощью денег. Ты думаешь, что деньги исправят твое положение с противоположным полом, но на самом деле нет! Если ты будешь продолжать вести себя слабо рядом с девушками, то единственных, кого ты сможешь привлечь в свою жизнь с помощью денег, это будут меркантильные девушки, которые будут использовать тебя ради денег.
						p Твоя проблема в низкой самооценке и вере в то, что ты не привлекателен.
						p Надеюсь ты не хочешь быть для девушек очередным спонсором, а хочешь стать парнем, которого хотят девушки, невзирая на его финансовое положение. Если ты до сих пор не веришь, что такое возможно - посмотри не меня.
					.quiz__result(data-result-target='4-3')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Тебе настолько страшно получать от девушек отказы, что тебе удобно верить, что у этих девушек есть парни, ведь тогда тебе не нужно будет к ним подходить. Поэтому ты выбираешь просто смотреть на девушек и думать, что они заинтересованно смотрят на тебя, ведь если ты подойдешь и девушка тебе откажет, это будет ужасным ударом по твоему самолюбию.
						p И ты настолько хочешь быть в иллюзии того, что нравишься всем девушкам, что готов жертвовать реальными знакомствами. Это может быть не только при знакомстве, например, если ты удачно взял номер телефона, тебе будет очень страшно позвонить девушке, ведь тогда она может не поднять трубку и тогда ты уже не будешь таким крутым.
						p Это одна из самых серьезных проблем, которую никогда не получится решить теми поверхностными упражнениями, которые нам дают «эксперты» соблазнения.
					.quiz__result(data-result-target='4-4')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты занимаешь пассивную позицию с девушками и привык перекладывать ответственность за свою жизнь! Тебе настолько страшно выходить из привычной зоны комфорта, что ты с самого начала уверен, что у тебя ничего не получится.
						p Отличная отмазка ничего не делать, правда?
						p Ты считаешь себя хуже, чем большинство, и вместо того, чтобы как-то развиваться в жизни, ты сидишь на диване и пытаешься убедить всех что ты неудачник, у которого ничего не получится
							i= ' (ведь тогда от тебя никто не сможет ничего требовать)'
							| .
						p В тебе живет скрытая надежда, что скоро кто-то придет и все исправит в твоей жизни, но этого не случится если ты не начнешь работать над собой. Твой главный страх это страх неудачи, от которого ты и рад бы избавиться, но не знаешь как.
						p А я знаю, и помогу тебе решить эту проблему.
					.quiz__result(data-result-target='4-5')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты зависим от одобрения окружающих людей. Ты привык жить в маске крутости, которую надеваешь каждый раз, когда общаешься с окружающими людьми. Ты пытался создать себе образ крутого парня, потому что понимал, что такой какой ты есть
							i= ' (неидеальный, с кучей недостатков) '
							| ты не сможешь понравиться людям и девушкам в том числе. Поэтому подойти и получить отказ - это недопустимая роскошь для тебя, ведь тогда все увидят, что ты не крутой. Ты сам себе создал клетку, из которой не можешь выбраться.
						p Но я придумал ряд прикольных упражнений, которые помогут легко решить тебе эту проблему.
					.quiz__result(data-result-target='4-6')
						.title.title_tight.title_mark.title_lower.title_color_main.quiz__problem-title.main__space-top-2x
						p Ты привык перекладывать ответственность за свою жизнь на других людей или события. Твой девиз «я такой, потому что моя жизнь такая». Ты всегда находишь виноватых в своих неудачах.
						p Так, например, ты не подходишь потому что социальные программы тебе мешают, хотя ты сам выбрал верить в них
							i= ' (Ведь эти программы не убьют тебя, если ты подойдешь к девушке, ведь так?)'
							| .
						p Тебе просто удобно перекладывать ответственность, потому что тогда не нужно ничего делать. Зачем? Если во всех твоих неудачах виноват кто-то другой. Пусть сначала окружающие изменятся и уж тогда ты соизволишь что-то начать делать.
						p Тебе не нужно воевать с этими социальными программами, тебе нужно начать брать ответственность за свою жизнь иначе ты рискуешь потратить весь свой жизненный потенциал зря.
						p Я понимаю это не так легко, как кажется, но с помощью моих упражнений ты научишься это делать гораздо быстрее, чем ты можешь себе представить.

		.section.section_space_2x.section_fog_light.quiz__result.quiz__result_1.quiz__result_2.quiz__result_3(style='background-image: url(img/content/section/02.jpg);')
			.container
				.text-center
					.quiz__has-problems-visible
						.title.title_lg.title_tight.title_color_main.main__space-bot-half А теперь самое важное!
						.title.title_sm.title_lower.main__space-bot-2x Вот почему у тебя никак не получается решить свои проблемы с девушками и еще много времени не будет получаться:
					.quiz__has-problems-hidden
						.title.title_sm.title_lower.main__space-bot-2x
							span.quiz__result(data-result-target='15-1') Уже более 5-и лет ты изучаешь тему мужской привлекательности, но у тебя осталась одна основная проблема, с которой ты сталкиваешься КАЖДЫЙ ДЕНЬ:
							span.quiz__result(data-result-target='15-2') Уже более 2-х лет ты изучаешь тему мужской привлекательностии, но у тебя осталась одна основная проблема, с которой ты сталкиваешься КАЖДЫЙ ДЕНЬ:
							span.quiz__result(data-result-target='15-3') Уже больше года ты изучаешь тему мужской привлекательности и у тебя есть одна основная проблема, с которой ты сталкиваешься КАЖДЫЙ ДЕНЬ:
							span.quiz__result(data-result-target='15-4') Меньше года ты изучаешь тему мужской привлекательности и у тебя есть одна основная проблема, с которой ты сталкиваешься КАЖДЫЙ ДЕНЬ:
							span.quiz__result(data-result-target='15-5') Ты решил не тратить время на изучение мужской привлекательности и вот к какой проблеме это привело:
							span.quiz__result(data-result-target='15-6') Ты решил не тратить время на изучение мужской привлекательности потому что считал, что у тебя и так все в порядке, но вот основная проблема, с которой ты сталкиваешься КАЖДЫЙ ДЕНЬ:

				.quiz__result(data-result-target='5-1')
					p.quiz__has-problems-visible У тебя все еще есть одна проблема, с которой ты сталкиваешься КАЖДЫЙ ДЕНЬ. Из-за этой проблемы ты по-прежнему не можешь вести себя свободно с девушками, именно из-за этой проблемы ты все еще не чувствуешь себя достойным девушек и именно из-за этой проблемы ты слышишь частые отказы.
					p.quiz__has-problems-hidden Из-за этой проблемы ты по-прежнему не можешь вести себя свободно с девушками, именно из-за этой проблемы ты все еще не чувствуешь себя достойным девушек и именно из-за этой проблемы ты слышишь частые отказы.
					p
						span.main__strong У тебя есть внутренний конфликт
						| , который ты никак не можешь решить. Он связан с тем, что ты никак не можешь понять, почему на уровне логики ты прекрасно знаешь как вести себя с девушками, но внутренне ты никак не можешь позволить себе такое сильное поведение, которому тебя учили.
					p= 'А проблема в том, что из-за прошлого негативного опыта ты считаешь себя настоящего непривлекательным, ты считаешь, что таким какой ты есть ты не сможешь заинтересовать девушек и поэтому, по средствам техник соблазнения и принципов сильного поведения, '
						span.main__strong ты старался сформировать свою новую привлекательную личность.
					p Но получилось все наоборот!
					p Хоть ты и знаешь о сильном и привлекательном поведении с девушками, внутри ты остался прежним, непривлекательным для самого себя, парнем. По этой причине
						|
						|
						span.main__strong ты проецируешь свое отношение к самому себе на окружающих
						|
						| (например, если я считаю себя лохом, значит я буду думать, что окружающие люди тоже считают меня лохом, поэтому я буду ко всем относится с опаской и буду везде искать подвох). Из-за этого ты и не можешь вести себя с девушками так, как ты 100 раз уже слышал.
					p Увы...
					p Единственное что тебе остается - это разгоняться перед знакомствами, правильно настраиваться перед подходами, чтобы твое внутреннее состояние более или менее соответствовало твоему поведению.
					p
						span.main__strong Но все это дает тебе лишь временный эффект
						| , потому что твоя основная проблема никак не решается, а только маскируется, благодаря чему ты и чувствуешь только временное облегчение.
					p И если ты не решишь эту внутреннюю проблему, вот что тебя ждёт:

					.main__space-top-2x
						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Первое
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Ты все равно будешь зависеть от мнения окружающих людей, потому что внутреннего одобрения своих поступков у тебя не будет, и тебе придется очень долго и кропотливо его развивать.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Второе
						.info.info_padding_lg.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Ты будешь постоянно ограничивать себя, потому что маскируя себя настоящего под маской крутости, ты будешь вынужден вести себя идеально перед окружающими людьми и бояться сделать ошибку, иначе все увидят тебя настоящим и поймут, что ты не такой крутой, каким ты пытался показаться. И из-за этого тебе будет очень страшно знакомиться с девушками в людных местах, ведь там ты можешь получить отказ на глазах у всех.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Третье
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Тебе будет сложно сделать девушке даже комплимент, потому что ты будешь подходить к девушкам не с целью дать девушке позитив, а с целью получить от нее одобрение.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Четвёртое
						.info.info_padding_lg.main__space-bot-2x
							p.title.title_lower.title_xs.text-center В общении с девушками ты будешь вынужден вести себя слабо и неуверенно, бояться создавать сексуальное влечение, а в коллективе ты, как правило, будешь аутсайдером.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Пятое
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center А даже если ты и познакомишься с какой-нибудь девушкой, то эти отношения долго не продляться, потому что ты будешь ревновать (хоть и будешь стараться не показывать это) и будешь пытаться контролировать девушек. Ты не сможешь построить гармоничных отношений потому что страх того, что девушка может найти себе лучше парня, будет заставлять тебя манипулировать ей. И по этой причине девушки будут терять к тебе интерес.

					p
						span.main__strong И это только маленький перечень поверхностных проблем, с которыми ты будешь сталкиваться до тех пор, пока не решишь основную проблему.
						|
						| Неужели ты до сих пор веришь, что поверхностные упражнения и манипулятивные тактики поведения с девушками решат все твои внутренние проблемы?

					.title.title_lower.title_sm.title_color_main.main__space-top-2x.text-center Я выбрал другой путь!
					p
						span.main__strong И именно поэтому я могу нарушать любые техники и принципы соблазнения и при этом остаюсь
						|
						| намного привлекательнее пикап-мастеров, которые заучивают одинаковые тактики «естественного» поведения, пытаясь замаскировать такого же неуверенного маленького мальчика, которым он всегда был. Вот почему все пикап проекты, как бы они не назывались, мало эффективны и похожи друг на друга как 2 капли воды.
					.info.info_padding_lg.main__space-2x
						p.title.title_lower.title_xs.text-center Тебе больше не нужно следовать техникам и принципам соблазнения, потому что ты, в отличии от других, будешь привлекателен как личность. Именно поэтому существуют парни, которые никогда не изучали пикап и соблазнения, однако они нравятся самым красивым девушкам больше чем все эти пикап мастера.
					.main__space-2x
						p.title.title_lower.title_xs.text-center.main__space-bot-half Пришло время принять важное решение либо ты и дальше будешь пытаться маскировать свои глубинные проблемы в ожидании чуда, либо начнешь их решать и тогда все поверхностные проявление этих проблем исчезнут раз и навсегда.
						p.title.title_lower.title_xs.text-center Выбор за тобой.

				.quiz__result(data-result-target='5-2')
					p.quiz__has-problems-visible У тебя все еще есть одна проблема, с которой ты сталкиваешься КАЖДЫЙ ДЕНЬ. Из-за этой проблемы ты по-прежнему не можешь вести себя свободно с красивыми девушками, именно из-за этой проблемы ты все еще не чувствуешь себя достойным классных девушек и именно из-за этой проблемы ты слышишь частые отказы.
					p.quiz__has-problems-hidden Из-за этой проблемы ты по-прежнему не можешь вести себя свободно с красивыми девушками, именно из-за этой проблемы ты все еще не чувствуешь себя достойным классных девушек и именно из-за этой проблемы ты слышишь частые отказы.
					p
						span.main__strong У тебя есть внутренний конфликт
						| , который ты никак не можешь решить. Он связан с тем, что ты никак не можешь понять, почему на уровне логики ты прекрасно знаешь, что если ты будешь вести себя слабо с красивыми девушками, то ты получишь отказ, но внутренне ты никак не можешь позволить себе такое сильное поведение, которому тебя учили.
					p А проблема в том, что из-за прошлого негативного опыта ты считаешь себя настоящего непривлекательным, ты считаешь, что таким какой ты есть ты не сможешь заинтересовать девушек и поэтому, по средствам техник соблазнения и принципов сильного поведения,
						|
						|
						span.main__strong ты старался сформировать свою новую привлекательную личность.
					p Но получилось все наоборот!
					p Хоть ты и знаешь о сильном и привлекательном поведении с девушками, внутри ты остался прежним, непривлекательным для самого себя, парнем. По этой причине
						|
						|
						span.main__strong ты проецируешь свое отношение к самому себе на окружающих
						|
						| (например, если я считаю себя лохом, значит окружающие люди тоже считают меня лохом, поэтому я буду ко всем относится с опаской и буду везде искать подвох). Из-за этого ты и не можешь вести себя с девушками так, как ты 100 раз уже слышал.
					p Увы...
					p Единственное что тебе остается - это разгоняться перед знакомствами, правильно настраиваться перед подходами, чтобы твое внутреннее состояние более или менее соответствовало твоему поведению.
					p
						span.main__strong Но все это дает тебе лишь временный эффект
						| , потому что твоя основная проблема никак не решается, а только маскируется, благодаря чему ты и чувствуешь только временное облегчение.

					p И если ты не решишь эту внутреннюю проблему, вот что тебя ждёт:

					.main__space-top-2x
						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Первое
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Ты все равно будешь зависеть от мнения окружающих людей потому что внутреннего одобрения своих поступков у тебя не будет и тебе придется очень долго и кропотливо его развивать.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Второе
						.info.info_padding_lg.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Ты будешь постоянно ограничивать себя, потому что маскируя себя настоящего под маской крутости, ты будешь вынужден вести себя идеально перед окружающими людьми и бояться сделать ошибку, иначе все увидят тебя настоящим и поймут, что ты не такой крутой, каким ты пытался показаться. И из-за этого тебе будет очень страшно знакомиться с девушками в людных местах, ведь там ты можешь получить отказ на глазах у всех.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Третье
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center Тебе будет сложно сделать красивой девушке даже комплимент, потому что ты будешь подходить к девушкам не с целью дать девушке позитив, а с целью получить от нее одобрение.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Четвёртое
						.info.info_padding_lg.main__space-bot-2x
							p.title.title_lower.title_xs.text-center В общении с девушками ты будешь вынужден вести себя слабо и неуверенно, бояться создавать сексуальное влечение.

						.text-center
							.bracket.bracket_color_main.bracket_tall.bracket_wide.main__space-bot-half
								.bracket__text.title.title_tight Пятое
						.info.info_strong-shadow.main__space-bot-2x
							p.title.title_lower.title_xs.text-center А даже если ты и познакомишься с классной девушкой, то эти отношения долго не продляться, потому что ты будешь ревновать (хоть и будешь стараться не показывать это) и будешь пытаться контролировать девушек. Ты не сможешь построить гармоничных отношений потому что страх того, что девушка может найти себе лучше парня, будет заставлять тебя манипулировать ей. И по этой причине девушки будут терять к тебе интерес.

					p
						span.main__strong И это только маленький перечень поверхностных проблем, с которыми ты будешь сталкиваться до тех пор, пока не решишь основную проблему.
						|
						| Неужели ты до сих пор веришь, что поверхностные упражнения и манипулятивные тактики поведения с девушками решат все твои внутренние проблемы?

					.title.title_lower.title_sm.title_color_main.main__space-top-2x.text-center Я выбрал другой путь!
					p
						span.main__strong И именно поэтому я могу нарушать любые техники и принципы соблазнения и при этом остаюсь
						|
						| намного привлекательнее пикап-мастеров, которые заучивают одинаковые тактики «естественного» поведения, пытаясь замаскировать такого же неуверенного маленького мальчика, которым он всегда был. Вот почему все пикап проекты, как бы они не назывались, мало эффективны и похожи друг на друга как 2 капли воды.
					.info.info_padding_lg.main__space-2x
						p.title.title_lower.title_xs.text-center Тебе больше не нужно следовать техникам и принципам соблазнения, потому что ты, в отличии от других, будешь привлекателен как личность. Именно поэтому существуют парни, которые никогда не изучали пикап и соблазнения, однако они нравятся самым красивым девушкам больше чем все эти пикап мастера.
					.main__space-2x
						p.title.title_lower.title_xs.text-center.main__space-bot-half Пришло время принять важное решение, либо ты и дальше будешь пытаться маскировать свои глубинные проблемы в ожидании чуда, либо начнешь их решать и тогда все поверхностные проявление этих проблем исчезнут раз и навсегда. Выбор за тобой.
						p.title.title_lower.title_xs.text-center Выбор за тобой.

		.section.section_space_2x.section_fog_darker.section_line_before(style='background-image: url(img/content/section/04.jpg);')
			.container
				.section__clouds

				.row.justify-content-center.text-center
					.col-md-10

						h2.title
							span.mark Получи более 30 обучающих видео с авторскими упражнениями, которые помогут тебе легко решить твои самые наболевшие проблемы
						.title.main__space-bot
							span.mark.mark_color_main абсолютно бесплатно!

						.arrow.main__space-bot

						a.btn.btn_wide.main__space-bot(href='#' data-modal='modal') Получить
						.section__desc
							i.fa.fa-chevron-right
							|
							| Каждые 2 дня ты будешь получать новое упражнение
							|
							i.fa.fa-chevron-left

		.section.section_space_2x.section_fog_light(style='background-image: url(img/content/section/02.jpg);')
			.container

				.text-center
					h2.title.title_tight.title_lg.title_color_main.main__space-bot Не хочешь тратить время?
					h2.title.title_lower.title_sm.main__space-bot-2x Тогда ты можешь записаться на 40-минутную бесплатную личную консультацию и обсудить любой волнующий тебя вопрос со мной лично. Мы посмотрим на твою ситуацию со стороны, выявим корень проблемы и выберем наиболее подходящий способ решения твоих проблем.

					a.btn.main__space-bot(href='free-consultation.html') Хочу на бесплатную консультацию
					.title.title_xs Буду рад пообщаться с тобой лично!

		.section.section_space_2x.section_fog_darker.section_line_before(style='background-image: url(img/content/section/04.jpg);')
			.container

				.section__clouds

				.row
					.col-md-10.offset-md-1
						h2.title.title_sm.title_color_white.main__space-bot-half
							span.mark= 'Я не буду убеждать тебя, что я самый крутой, как это делают все эксперты, '
							span.mark.mark_color_main я просто хочу поделиться с тобой восторженными отзывами от парней, которые узнали «принципы артура».

						.arrow.main__space-bot-half

						.text-center
							h3.title.title_sm.title_lower.title_color_white Здесь должны быть сотни отзывов, но я выбрал несколько, чтобы ты понимал как поменялась жизнь парней в проекте.
								br
								| Если ты посчитаешь, что этого недостаточно, я не собираюсь тебе что-то доказывать.

		.section.section_space_none
			+review(review)